In [1]:
# Import Dependencies

import pandas as pd
import os

import numpy as np
import matplotlib.pyplot as plt

from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base=declarative_base()

In [2]:
# Read Hawaii Measurement Data
hawaii_measurement=pd.read_csv("Resources/hawaii_measurements.csv")
hawaii_measurement=hawaii_measurement.dropna(how='any')

hawaii_measurement.reset_index(inplace=True)
hawaii_measurement=hawaii_measurement.rename(columns={'index':'id'})
hawaii_measurement.head()

# Read Hawaii Stations Data
hawaii_stations=pd.read_csv("Resources/hawaii_stations.csv")
hawaii_stations.reset_index(inplace=True)
hawaii_stations=hawaii_stations.rename(columns={'index':'id'})
hawaii_stations.head()

,id,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6